*{
    box-sizing: border-box;
}

audio{
    outline:none
}

body{
    display: flex;
    justify-content: center;
    --main-color: #a7a1a1;
    font-family: Georgia, sans-serif;
    flex-direction: column;
    align-items: center;
}

.container{
    display: flex;
    flex-direction: column;
    background-color: var(--main-color);
    border-radius: 15px 15px 15px 0 ;
}

.playlist{
    position: relative;
    padding: 5px 10px 10px 10px;
    min-height: 250px;
}

.playlists{
    position: absolute;
    width: 55px;
    padding: 8px;
    left: 0;
    top: 0;
    transform: translateX(-100%);
    background-color: var(--main-color);
    border-radius: 15px 0 0 15px;
    max-height: calc(100%);
    overflow: auto;
    height: 100%;
    border-right: 1px solid white;
    min-height: 50px;
}

.list{
    margin-bottom: 5px;
}

.list:hover{
    cursor: pointer;
}

.responsive{
    width: 100%;
}

.container ol{
    padding-left: 20px;
    margin: 0;
}

.container ol li{
    position: relative;
    transition: .3s;
    padding: 5px 0;
}

.container ol li span{
    position: absolute;
    right: 0;
}

.container ol li:hover{
    cursor: pointer;
    background-color: rgba(255,255,255, 0.85);
    border-radius: 4px;
}

.playlist-controls{
    display: flex;
    justify-content: flex-end;
}

.playlist-controls div{
    margin-right: 5px;
}

.playlist-controls div:last-child{
    margin-right: 0;
}

.playlist-controls img{
    width: 15px;
}

#addTrack:hover, #delTrack{
    cursor: pointer;
}

.player{
    display: flex;
    /*flex-direction: column-reverse;*/
    align-items: center;
    padding: 10px 10px 15px 10px;
    border-bottom: 1px solid white;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 30px;
    background-color: #ffffff;
    margin: 0 5px;
    padding: 8px;
    border-radius: 50%;
    text-decoration: none;
    color: black;
    font-weight: bold;

}

.buttons, .progress-and-time{
    display: flex;
    align-items: center;
}

.shadow{
    box-shadow: 0 5px 0 #19384e, 0 0 3px rgba(12, 12, 12, 0.21), 0 5px 10px #f5f3f3;
}

input[type="range"] {
    -webkit-appearance: none;
    border: 1px solid black;
    display: block;
    height: 12px;
    margin: 0 10px;
    outline:none;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    background-color: #fff;

    -webkit-box-shadow: inset 0 4px 4px rgba(0,0,0,.6);
    -moz-box-shadow: inset 0 4px 4px rgba(0,0,0,.6);
    box-shadow: inset 0 4px 4px rgba(0,0,0,.6);
}

input::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 10px;
    height: 20px;
    border: 1px solid black;

    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #80e4df; /* Old browsers */
    background: -webkit-linear-gradient(top, #80e4df 0%, #75dbd6 13%, #5ec4bf 33%, #57bbb6 47%, #419d99 80%, #378f8b 100%);

    background: -moz-linear-gradient(top, #80e4df 0%, #75dbd6 13%, #5ec4bf 33%, #57bbb6 47%, #419d99 80%, #378f8b 100%);
    background: -o-linear-gradient(top, #80e4df 0%, #75dbd6 13%, #5ec4bf 33%, #57bbb6 47%, #419d99 80%, #378f8b 100%);
    background: linear-gradient(top, #80e4df 0%, #75dbd6 13%, #5ec4bf 33%, #57bbb6 47%, #419d99 80%, #378f8b 100%); /* W3C */
}

input::-webkit-slider-thumb:hover{
    cursor: pointer;
}

#timeleft{
    color: white;
}

#trackName{
    margin: 0 15px;
    padding: 0 15px;
    color: white;
    border: 1px solid black;
    border-radius: 7px;
}

.img-relative{
    max-width: 100%;
}

.separator{
    margin: 0 5px;
}

.ready{
    text-decoration: line-through;
}

.playing{
    background-color: rgba(255,255,255, 0.85);
    border-radius: 4px;
}

.addSongField{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    padding: 5px;
    background-color: white;
    border-left: 2px solid var(--main-color);
    border-right: 2px solid var(--main-color);
}

.addSongField > div{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.addSongField label{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.addSongField input{
    width: 90%;
}

#addSongBtn{
    display: block;
}

.adding-controls{
    display: flex;
    justify-content: space-evenly;
}

.openAddingField{
    display: flex;
    justify-content: center;
    padding: 5px 0;
}

.openAddingField:hover{
    background-color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    border-radius: 4px;
}

.openAddingField img{
    max-width: 15px;
}

.open{
    display: block !important;
}

.openNewPlaylistField{
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
    padding: 5px 0;
}

.openNewPlaylistField > img{
    max-width: 50%;
}

.hover-base:hover{
    background-color: rgba(255,255,255, 0.85);
    border-radius: 4px;
    cursor: pointer;
}

.hover-rgba:hover{
    background-color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    border-radius: 4px;
}

.addPlaylistField{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    padding: 5px;
    background-color: white;
    border-left: 2px solid var(--main-color);
    border-right: 2px solid var(--main-color);
}

.addPlaylistField label{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}

.song{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.song:hover .actions{
    display: flex;
}

.actions{
    margin-left: auto;
    margin-right: 10px;
    display: none;
}

.actions .img-container{
    max-width: 15px;
    margin-right: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.actions .img-container:last-child{
    margin-right: 0;
}

.actions .img-container:hover{
    cursor: default;
}

.edit, .delete{
    max-width: 100%;
    min-width: 15px;
}

.song-time{
    min-width: 45px;
}

  /*Modal*/

.modal-overlay{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0,0,0, 0.5);
    z-index: 10;
    display: none;
    justify-content: center;
    align-items: center;
}

.modal{
    background-color: var(--main-color);
    padding: 10px;
    border-radius: 4px;
}

.modal p{
    text-align: center;
    margin: 0 0 5px 0;
}

.modal input{
    width: 220px;
}

.d-flex{
    display: flex !important;
}