@import 'fonts.css';

*{
    box-sizing: border-box;
}

audio{
    outline:none
}

html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Georgia, sans-serif;
}

button{
    outline: none;
    border: none;
    background-color: transparent;
    padding: 0;
}

button:hover{
    cursor: pointer;
}

p{
    margin: 0;
}

/* New styles */

.audioplayer{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: "SegoeUIRegular", sans-serif;
    --song-bg: #e3e3e3;
    --albums-bg:  #eeeeee;
    --header-bg: #f4f4f4;
    --hover-color: #27a7fa;
    --header-height: 82px;
    --album-list-width: 16.854%;
    --buttons-border: 2px solid #a5a5a5;
    --big-btn-size: 38px;
    --normal-btn-size: 29px;
    --main-controls-width: 150px;
    --songs-list-header-height: 60px;
    --gray-light: #fafafa;
}

.body{
    height: calc(100% - var(--header-height));
    display: flex;
    align-items: flex-start;
}

.albums-list-container{
    width: var(--album-list-width);
    height: 100% ;
    background-color: var(--albums-bg);
    /*overflow: hidden;*/
    max-width: 188px;
}

.albums-list{
    height:  calc( 100% - var(--songs-list-header-height));
    overflow: auto;
}

.songs-list{
    /* width: calc(100% - var(--album-list-width)); */
    width: 100%;
    height: 100%;
}

.songs-list__header{
    height: var(--songs-list-header-height);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0 0 30px;
    background-color: var(--gray-light);
}

#openAddingField{
    height: 100%;
    padding: 0 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.album-name-container{
    display: flex;
}

.album-name-container span{
    color: #2b6894;
    font-size: 13px;
    border-left: 1px solid #2b6894;
    padding-left: 5px;
    font-weight: normal;
}

.album-name{
    line-height: 18px;
    font-weight: bold;
    margin-right: 5px;
    text-transform: capitalize;
}

.songs-ol .song:hover{
    cursor: pointer;
    background-color: rgba(39, 167, 250, 0.4);
}

.song.playing{
    background-color: rgba(39, 167, 250, 0.4) !important;
}

.album:hover{
    cursor: pointer;
    background-color: rgba(39, 167, 250, 0.4);
}

.song:nth-child(odd){
    background-color: #e3e3e3
}

.song:nth-child(even){
    background-color: var(--gray-light);
}

.songs-list__container{
    position: relative;
    height: calc( 100% - var(--songs-list-header-height) );
}

.songs-ol{
    height: calc(100% - 35px);
    counter-reset:li;
    padding:0;
    list-style:none;
    margin: 0;
    overflow: auto;
}

.songs-list__container li{
    line-height: 12px;
    position:relative; /* Создаем контекст для позиционирования элементов */
    padding: 12px 12px 12px 48px;
}

.songs-list__container li:before{
    content:counter(li); /* В качестве данных используем счетчик */
    counter-increment:li; /* Увеличиваем значение счетчика на 1 */
    position:absolute;
    top: 12px;
    left: 20px;
    color:#999999;
}

.footer{
    position: relative;
    width: 100%;
    height: var(--header-height);
    display: flex;
    background-color: var(--header-bg);
}

.main-controls{
    width: var(--main-controls-width);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 17px;
}

.main-controls button{
    display: flex;
    align-items: center;
    justify-content: center;
    border: var(--buttons-border);
    border-radius: 50%;
}

.play{
    width: var(--big-btn-size);
    height: var(--big-btn-size);
}

.play img{
    width: 16px;
    height: 16px;
}

.next, .prev{
    width:  var(--normal-btn-size);
    height: var(--normal-btn-size);
}

.next img, .prev img{
    width: 13px;
    height: 9px;
}

.song-info{
    width: calc( 100% - var(--main-controls-width) );
    display: flex;
    flex-direction: column;
    padding-top: 15px;
}

.song-name{
    color: #7b7b7b;
    font-size: 14px;
    font-weight: 400;
    line-height: 15px;
    padding-left: 25px;
    margin-bottom: 10px;
}

.progress-bar{
    display: inline-flex;
    align-items: center;
}

.time{
    color: #7b7b7b;
    font-size: 10px;
    line-height: 9px;
}

#seek{
    width: 77.7%;
    margin: 0 4px;
    max-width: 280px;
}

#openNewPlaylistField{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: var(--songs-list-header-height);
    /*padding: 4.5px 0;*/
}

.album{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 9px 0;
    padding: 4%;
}

.album:first-child{
    margin-top: 0;
}

.album-name--small{
    text-align: center;
    color: #7b7b7b;
    font-size: 12px;
    line-height: 14px;
}

.album.active{
    border: 3px solid #a6d9fa;
    padding: 0;
}

.songs-list__actions{
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--gray-light);
}

.songs-list__actions > .buttons{
    display: flex;
    height: 100%;
}

.songs-list__actions > .buttons button{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 14px;
    height: 100%;
}

.volume-mobile{
    display: flex;
    align-items: center;
    margin-right: 1.5%;
}

#volume-mobile{
    width: 93px;
    height: 5px;
    /* -webkit-appearance: none; */
    /* border: none; */
    margin: 0 6px;
    outline:none;
    /* background-color: #fff; */
}

.custom-scroll::-webkit-scrollbar {
    width: 6px;
    background-color: #fff;
}
.custom-scroll::-webkit-scrollbar-track {
    border-radius: 6px;
    background: rgba(183, 183, 183, 0.3);
}
.custom-scroll::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background: rgba(183, 183, 183, 0.6);
}
.custom-scroll::-webkit-scrollbar-thumb:hover {
    background: #b7b7b7;
}
.custom-scroll::-webkit-scrollbar-thumb:active {
    background: linear-gradient(left, #22ADD4, #1E98BA);
}

#play img{
    display: none;
}

.random img{
    display: none;
}

.random .active{
    display: block;
}

.loop img{
    display: none;
}

.loop .active{
    display: block;
}

.img-relative{
    max-width: 100%;
    object-fit: cover;
}

#preload{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 14px;
    font-size: 15px;
}

.addSongField{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    padding: 5px;
    background-color: white;
    border-left: 2px solid gray;
    border-right: 2px solid gray;
}

.addSongField > div{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.addSongField label{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin-bottom: 5px;
}

.addSongField input{
    width: 90%;
}

#addSongBtn{
    display: block;
}

.adding-controls{
    display: flex;
    justify-content: space-evenly;
}

.open{
    display: block !important;
}

.addPlaylistField{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    padding: 5px;
    background-color: white;
    border-left: 2px solid gray;
    border-right: 2px solid gray;
}

.addPlaylistField label{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}

.show{
   display: block !important;
 }

.container.gradient{
    display: none;
}

@media (max-width: 768px) {
    .album-name--small{
        display: none;
    }
}

@media (min-width: 768px){
    .audioplayer{
        --big-btn-size: 48px;
        --normal-btn-size: 36px;
    }
    .album{
        padding: 5% 13%;
    }
    .album.active{
        border: 5px solid #a6d9fa;
        padding: 5% 13%;
    }
    .main-controls{
        padding: 0 5px;
    }
    .play img{
        width: 20px;
        height: 20px;
    }
    .next img, .prev img{
        width: 15px;
        height: 15px;
    }
}

@media (min-width: 992px){
    .songs-list__container li{
        padding: 15px 15px 15px 48px;
    }
    .song{
        font-size: 18px;
    }
    .songs-list__container li:before{
        top: 15px;
    }
    .album-name{
        font-size: 18px;
    }
    
}

@media (min-width: 1300px){
    .audioplayer{
        --main-controls-width: 188px;
    }
    .main-controls{
        justify-content: space-around;
    }
}

